div.login-container {
    position: relative;
    background: url('../Images/black-background.jpg') no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
form.border {
    position: absolute;
    background: url(../Images/red-background.jpg);
    color: white;
}