div.reset-container {
    position: relative;
    background: url('../Images/black-background.jpg') no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

div.container input {
    border-radius: 6px;
    font-size: 16px;
    height: auto;
    margin-bottom: 0;
    padding: 16px 0 16px 16px;
    width: 100%;
}

div.container button.reset-request-submit {
    background-color: #007bff;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    transition: background-color 0.3s ease;
    float: right;
}

div.container button.reset-submit:hover {
    background-color: #0056b3;
}

form.reset-form {
    border: 1px solid #ced4da;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
    padding: 1rem;
    border-radius: .3rem;
    width: 450px;
    position: absolute;
    background: #666666;
    color: white;
}

form.reset-form h1.reset-heading {
    text-transform: uppercase;
    font-size: 20px;
}

form.reset-form hr.divider {
    border: 1px solid #ccc;
    margin: 20px 0;
}